STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
# --- Security --------------------------------------------------------------
# Generate a strong, unique value for each secret before deploying.
# You can run `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"`
# to create a value and paste it below.
JWT_SECRET=
COOKIE_SECRET=
DATABASE_URL=
DB_NAME=medusa-v2
#TENANT_ENTITIES_GLOB=.medusa/server/src/modules/**/*.js
#TENANT_MIGRATIONS_GLOB=.medusa/server/migrations/**/*.js
